{% extends 'base.html' %}

{% block title %}AgroGIS - Pesquisar{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Pesquisar Imóveis Rurais</h1>
            </div>
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->

    <div class="row search">

        {% include 'includes/form.html' %}

    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>

            {% include 'includes/pagination.html' %}

            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Imóvel Rural</th>
                    <th>Proprietário</th>
                    <th>CPF</th>
                    <th>Mais Informações</th>
                </tr>
                </thead>
                <tbody>
                {% for imovel in page_objects %}
                    <tr>
                        <td>{{ imovel.nome }}</td>
                        <td>{{ imovel.proprietario.nome }} {{ imovel.proprietario.sobrenome }}</td>
                        <td>{{ imovel.proprietario.cpf }}</td>
                        <td>
                            <a href="{% url 'detail' imovel.id %}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
{% endblock content %}