{#<nav aria-label="...">#}
{#    <ul class="pagination">#}
{#        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>#}
{#        </li>#}
{#        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>#}
{#        <li><a href="#">2 <span class="sr-only">2</span></a></li>#}
{#        <li><a href="#">3 <span class="sr-only">3</span></a></li>#}
{#        <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>#}
{#        </li>#}
{#    </ul>#}
{#</nav>#}

<ul class="pagination">
    {% if page_objects.has_previous %}
        <li>
            <a href="?page={{ page_objects.previous_page_number }}">&laquo;</a>
        </li>
    {% endif %}

    {% for pg in page_range %}
        {% if page_objects.number == pg %}
            <li class="active"><a href="?page={{ pg }}">{{ pg }}</a>
            </li>
        {% else %}
            <li><a href="?page={{ pg }}">{{ pg }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if page_objects.has_next %}
        <li>
            <a href="?page={{ page_objects.next_page_number }}">&raquo;</a>
        </li>
    {% endif %}
</ul>